/* Proxima Nova Regular */
@font-face {
	font-family: 'Proxima Nova';
	src: url('./fonts/assets/proximanova_regular.ttf');
	font-weight: 400;
	font-style: normal;
}

/* Proxima Nova Regular */
@font-face {
	font-family: 'Proxima Nova';
	src: url('./fonts/assets/proximanova_medium.otf');
	font-weight: 500;
	font-style: normal;
}

/* Proxima Nova Bold */
@font-face {
	font-family: 'Proxima Nova';
	src: url('./fonts/assets/proximanova_bold.otf');
	font-weight: 700;
	font-style: italic;
}

/* Proxima Nova Bold */
@font-face {
	font-family: 'Proxima Nova';
	src: url('./fonts/assets/proximanova_black.ttf');
	font-weight: 900;
	font-style: normal;
}
